.stapel-stacker {
  z-index: 999999999;
  position: fixed;
}

.stapel-stacker-bg {
  position: fixed;
  inset: 0;
  background-color: rgba(189, 189, 189, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.stapel-modal-center {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stapel-modal {
  position: relative;
  z-index: 10;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.05rem rgba(0, 0, 0, 0.5);
  width: 32rem;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  background-color: #fff;
  padding: 1rem;
}

.stapel-modal-content {
  position: relative;
  flex: 1;
}

.stapel-modal-icon-layout {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.stapel-modal-icon-container {
  border-radius: 50%;
  margin-right: 1rem;
  background-color: #fee2e2;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stapel-modal-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  background-color: #ffe6e6;
  color: #dc2626;
}

.stapel-modal-button-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 0.5rem;
}

.stapel-modal-close-button {
  position: absolute;
  z-index: 10;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.stapel-modal-close {
  color: #9ca39d;
}

.stapel-modal-close-button:hover .stapel-modal-close {
  color: rgb(107, 114, 128);
}

.stapel-modal-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.stapel-modal-text {
  font-size: 0.875rem;
  color: #6b7280;
}

.stapel-modal-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 0.5rem;
}

.stapel-modal-button {
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
  color: #111827;
  border: 1px solid #e5e7eb;
  box-shadow: 0.05rem 0 0.3rem rgba(0, 0, 0, 0.1);
}

.stapel-modal-button:hover {
  background-color: #f9fafb;
}

.stapel-modal-button-destructive {
  background-color: #dc2626;
  color: #fff;
  border: unset;
}

.stapel-modal-button-destructive:hover {
  background-color: #ef4444;
}
